/conf/config.ini
/.idea
/main

/monitor_fe/.DS_Store
/monitor_fe/node_modules/
/monitor_fe/dist/
/monitor_fe/npm-debug.log*
/monitor_fe/yarn-debug.log*
/monitor_fe/yarn-error.log*
/monitor_fe/**/*.log

/monitor_fe/tests/**/coverage/
/monitor_fe/tests/e2e/reports
/monitor_fe/selenium-debug.log

/monitor_fe/.idea
/monitor_fe/.vscode
/monitor_fe/*.suo
/monitor_fe/*.ntvs*
/monitor_fe/*.njsproj
/monitor_fe/*.sln
/monitor_fe/*.local

/monitor_fe/package-lock.json
/monitor_fe/yarn.lock
